body{
    margin: 0px;
    padding: 0px;
    /* background: rgb(205,102,98);
    background: linear-gradient(90deg, rgba(205,102,98,1) 6%, rgba(71,50,48,1) 23%, rgba(41,26,26,1) 33%, rgba(23,16,16,1) 53%, rgba(33,24,24,1) 55%, rgba(0,0,0,1) 86%, rgba(62,43,42,1) 94%, rgba(133,93,91,1) 100%); */
}
.main-container{
    background: rgb(205,102,98);
    background: linear-gradient(90deg, rgba(205,102,98,1) 6%, rgba(71,50,48,1) 23%, rgba(41,26,26,1) 33%, rgba(23,16,16,1) 53%, rgba(33,24,24,1) 55%, rgba(0,0,0,1) 86%, rgba(62,43,42,1) 94%, rgba(133,93,91,1) 100%);
width: 100%;
height: 100%;
}
.image{
    height: 10.0625rem;
    width: 11.125rem;
    margin-top: -2.875rem;
    margin-bottom: -4rem;
    margin-left: -2.4375rem;
    margin-right: 0.8125rem;
}

.navbar-expand-lg{
    background: #934f4f;
background: linear-gradient(90deg, rgba(205,102,98,1) 6%, rgba(71,50,48,1) 23%, rgba(41,26,26,1) 33%, rgba(23,16,16,1) 53%, rgba(33,24,24,1) 55%, rgba(0,0,0,1) 86%, rgba(62,43,42,1) 94%, rgba(133,93,91,1) 100%);
height: 4.9375rem;
width: 100%;
}

.nav-item{
    color: white;
    margin-left: -5.1875rem;
    margin-right: 8.3125rem;
    /* font-weight: bolder; */
    font-size: 1.5rem;
}
.image2{
   
    margin: 2.8125rem -1.125rem;
    max-width: 100%;
}
.image2:hover{
    transform: scale(1.1);
    opacity: 0.8;
    transition-duration: 2s;
}
.heading{
    font-size: 4.375rem;
    color: aliceblue;
    margin-left: 4.5rem;
    margin-top: 8.125rem;
    font-family: 'Rubik Dirt', cursive;

}
.note{
    font-size: 1.8125rem;
    margin-left: 4.75rem;
    margin-top: -0.5625rem;
    color: rgb(211, 202, 202);
    margin-right: -2.4375rem;
    text-align:left;
}
.row{
    width: 100%;
}
.dropdown-item:hover{
    font-size: 1.695rem;
    transition-duration: 0.4;
}

    /* width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;  */
    

/* .first-box{
    height: 497px;
    background-color: #8b4040;
    margin-left: 236px;
    
}
.second-box{
    height: 497px;
    background-color: #944b4b;
    margin-left:10px;
}
.box1{
    width: 85%;
    background-color:#e0a6a6;
    font-size: 19px;
    margin-left: -10px;
}
.box2{
    width: 85%;
    background-color:#da9d9d;
}
.heading0{
    position: absolute;
    left: 131px;
    top: 921px;
    font-size: 64px;
}
.heading1{
    font-size: 30px;
    margin-bottom: 11px;
}
.heading2{
    font-size: 30px;
    margin-bottom: 11px;
} */
/* .row {  
    margin-top: 198px;
} */
/* .box1{
    margin-left: -459px;
    margin-top: 220px;
} */
/* .main{
    display:flex;
} */
.middle-container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 200px; 
    background-color: rgb(255, 255, 255);
} 
.col-lg-4.box1{
    background-color: #ffffff;
    font-size: 19px;
    height: 470px;
    padding-left: 113px;
    margin-top: 17px;
}
.col-lg-4.box2{
    background-color: #ffffff;
    padding-left: 115px;
    font-size: 19px;
    height: 521px;
    margin-top: 16px;
}

h1.whatwedo {
    color: #434343;
    font-style: normal;
    font-weight: bolder;
    font-size: 53px;
    line-height: 56px;
    margin-top: -7vw;
    margin-left: 83px;
}
h1.whatwedo:hover{
    font-weight: bolder;
    cursor: pointer;
    font-size:70px;
    transition-duration:1s;
}
h3.whatwedopoints {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    font-feature-settings: "ss01" on;
    color: #2f2f2f;
}
.image3{
    width: 349px;
    height: 374px;
    padding-left: 18px;
    padding-top: 72px;
}
.image3:hover{
    cursor: pointer;
    /* transform: rotate(30deg); */
    opacity:0.9;
    transition-duration: 1.5s;
    width: 389px;
    height:444px;
}